/* Space Mono, self-hosted (SIL Open Font License 1.1).
   Served from our own origin instead of fonts.googleapis.com: no extra DNS +
   TLS handshakes and no stylesheet round trip before the font can be fetched. */
@font-face {
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/space-mono-latin-400.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193,
    U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/space-mono-latin-ext-400.woff2") format("woff2");
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF,
    U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020,
    U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("/fonts/space-mono-latin-700.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193,
    U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("/fonts/space-mono-latin-ext-700.woff2") format("woff2");
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF,
    U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020,
    U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

* {
  font-family: "Space Mono", monospace;
}
body {
  margin: 0;
  width: 100%;
  overflow-x: hidden;
}

/* variables.css */

:root {
  --white: #f5f5f5;
  --gray: #757575;
  --gray-light: #bbb8b8;
  --gray-light2: #b2c4bd;
  --gray-strong: #444343;
  --black: #0f0f0f;
  --transaprent: rgba(255, 255, 255, 0);

  --primary: #0e3a29;
  --primary-strong: #3fa275;
  --primary-strong2: #bcf2de;
  --primary-strong3: #2bd565;
  --secondary: #f7f7f2;
  --text-primary: #f5f5f5;
  --text-secondary: #000000;
  overflow-x: hidden;
}

.image-input-container input[type="file" i]::-webkit-file-upload-button {
  color: var(--text-primary);
}

input[type="file"]::-webkit-file-upload-button {
  color: black;
  background-color: var(--primary);
  border: none;
  padding: 0.5em;
  border-radius: 0.2em;
}
